$background: #FAF8FF;
$on-background: #1A1B21;
$on-background-8: rgba(#1A1B21, 0.08);
$on-background-12: rgba(#1A1B21, 0.12);

$primary: #485D92;
$primary-container: #DAE2FF;
$on-primary-container: #001946;

$on-primary-container-button-hovered: #CDD2E9;
$on-primary-container-button-pressed: #C5CAE0;

$surface-variant: #E1E2EC;
$on-surface-variant: #44464F;
$on-surface-variant-disabled: #44464F60;
$surface-container: #EEEDF4;
$surface-container-low: #F4F3FA;

$outline: #757780;
$outline-variant: #C5C6D0;

$error: #BA1A1A;