@import 'colors';
@import 'fonts';

.form-area {
  width: 100vw;
  height: 100svh;
  display: grid;
  padding-top: 185px;
  grid-template-columns: 35% 1fr 35%;
  grid-template-rows: fit-content(0) auto;
}

.login-area {
  grid-column: 2;
  height: fit-content;
  padding: 0;
  * {
    color: $on-background;
  }

  >* {
    margin-bottom: 30px;
  }

  .input-field {
    height: 56px;
    border-radius: 4px;
    border: 2px solid $outline;
    padding: 4px 0 4px 16px;
    cursor: text;
  }

  .input-field-err {
    border: 2px solid $error;
    .input-placeholder {
      color: $error;
    }
  }

  .input-field-active {
    border: 4px solid $primary;

    &:hover {
      box-shadow: none;
    }
  }

  .input-placeholder {
    height: 100%;
    //width: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -44px;
    background-color: $background;
    transition: .2s;
  }

  .input-placeholder-active {
    height: 16px;
    background-color: $background;
    font: $body-small;
    padding: 0 4px;
    width: fit-content;
    left: -4px;
    top: -56px;
    color: $primary !important;
  }

  input {
    width: 100%;
    height: 100%;
    background-color: $background;
    outline: none;
    caret-color: $primary;
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button, a {
    text-decoration: none;
    cursor: default;

    svg {
      width: 18px;
      height: 18px;
      margin: auto 0;
    }

    span {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 12px;
    }

    height: 60px;
    padding: 10px 36px;
    width: fit-content;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    background-color: $primary-container;
    color: $on-primary-container;

    @media (hover: hover) {
      &:hover {
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 30%), 0 1px 3px 1px rgba(0, 0, 0, 15%);
        background-color: $on-primary-container-button-hovered;
      }
    }

    &:active {
      background-color: $on-primary-container-button-pressed;
      box-shadow: none;
    }
  }
}

.error-area {
  padding: 62px 15% 0;
  grid-column: 3;

  .credentials-incorrect {
    background-color: $surface-container;
    box-shadow: 0 1px 2px rgba(#000, .3), 0 2px 6px rgba(#000, .15);
    border-radius: 12px;
    padding: 12px 16px 8px;

    >* {
      margin-bottom: 4px;
    }

    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1040px) {
  .form-area {
    grid-template-columns: 25% 1fr 25%;
    padding-top: 100px;
  }

  .buttons-container {
    button, a {
      padding: 10px 24px;
    }
  }

  .error-area {
    grid-column: 2;
    padding: 0 15%;
  }
}

@media screen and (max-width: 550px) {
  .form-area {
    grid-template-columns: 15% 1fr 15%;
  }
}

@media screen and (max-width: 450px) {
  .buttons-container {
    flex-direction: column;
    align-items: center;

    button:first-of-type {
      margin-bottom: 10px;
    }
  }
}