@import 'colors';
@import 'fonts';
@import 'reset';

html {
  height: 100%;
}

body {
  height: 100%;
  color: $on-background;
  background: $background;
}

.headline-large {
  font: $headline-large;
}

.headline-medium {
  font: $headline-medium;
}

.headline-small {
  font: $headline-small;
}

.body-large {
  font: $body-large;
}

.body-medium {
  font: $body-medium;
}

.body-small {
  font: $body-small;
}

.headline-large-500 {
  font: $headline-large-500;
}

.headline-medium-500 {
  font: $headline-medium-500;
}

.headline-small-500 {
  font: $headline-small-500;
}

.body-large-500 {
  font: $body-large-500;
}

.body-medium-500 {
  font: $body-medium-500;
}

.body-small-500 {
  font: $body-small-500;
}