<!doctype html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{styles/style.css}">
    <link rel="stylesheet" th:href="@{styles/workspace.css}">

</head>
<body>
    <div class="work-area">
        <div class="tasks">

        </div>

        <div class="progress">
            <div class="progress-text headline-medium">
                Working...
            </div>
            <div class="progress-bar" id="slice-progress"></div>
            <div class="time-left body-large">
                25min 12s left
            </div>
        </div>
    </div>
</body>
</html>