$background: #FAF8FF;
$on-background: #1A1B21;

$primary: #485D92;
$primary-container: #DAE2FF;
$on-primary-container: #001946;

$surface-variant: #E1E2EC;
$on-surface-variant: #44464F;
$surface-container: #EEEDF4;
$surface-container-low: #F4F3FA;
$outline-variant: #C5C6D0;