@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$headline-large: 32px/40px "Roboto", sans-serif;
$headline-medium: 28px/36px "Roboto", sans-serif;
$headline-small: 24px/32px "Roboto", sans-serif;

$body-large: 16px/24px "Roboto", sans-serif;
$body-medium: 14px/20px "Roboto", sans-serif;
$body-small: 12px/16px "Roboto", sans-serif;