@import "colors";

.work-area {
  padding: 60px 25%;
  height: 100vh;
}

.tasks {
  height: 385px;
  width: 100%;
}

.progress {
  margin-top: 100px;
}

.progress-text {
  color: $on-background;
}

.progress-bar {
  margin-top: 8px;
  height: 18px;
  background-color: $primary-container;
}

.time-left {
  margin-top: 8px;
  text-align: right;
  color: $on-background;
}

.buttons-container {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    svg {
      width: 12px;
      height: 12px;
      margin: auto 0;
    }

    span {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 12px;
    }

    height: 60px;
    padding: 10px 24px;
    width: fit-content;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    background-color: $primary-container;
    color: $on-primary-container;
  }

  @media (hover: hover) {
    button:hover {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 30%), 0 1px 3px 1px rgba(0, 0, 0, 15%);
      background-color: $on-primary-container-button-hovered;
    }
  }

  button:active {
    background-color: $on-primary-container-button-pressed;
    box-shadow: none;
  }

  button:disabled {
    background-color: $surface-container;
    color: $on-surface-variant-disabled;
  }

  button:disabled:hover {
    box-shadow: none;
  }
}