@import "colors";

.work-area {
  padding: 60px 25%;
  height: 100vh;
}

.tasks {
  height: 385px;
  width: 100%;
}

.progress {
  margin-top: 100px;
}

.progress-text {
  color: $on-background;
}

.progress-bar {
  margin-top: 8px;
  height: 18px;
  display: flex;
  align-items: center;

  .active-indicator {
    height: 4px;
    background-color: $primary;
    border-radius: 4px;
    margin-right: 4px;
  }

  .active-indicator-none {
    display: none;
  }

  .active-indicator-done {
    margin-right: 0;
  }

  .track-and-stop {
    height: 4px;
    background-color: $primary-container;
    border-radius: 2px;
    width: 100%;

    .track-stop {
      height: 100%;
      width: 4px;
      background-color: $primary;
      margin-right: 0;
      margin-left: auto;
      border-radius: 100%;
    }
  }

  .track-and-stop-done {
    display: none;
  }
}

.time-left {
  margin-top: 8px;
  text-align: right;
  color: $on-background;
}

.buttons-container {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  form {
    display: none;
  }

  button {
    svg {
      width: 12px;
      height: 12px;
      margin: auto 0;
    }

    span {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 12px;
    }

    height: 60px;
    padding: 10px 24px;
    width: fit-content;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    background-color: $primary-container;
    color: $on-primary-container;
  }

  @media (hover: hover) {
    button:hover {
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 30%), 0 1px 3px 1px rgba(0, 0, 0, 15%);
      background-color: $on-primary-container-button-hovered;
    }
  }

  button:active {
    background-color: $on-primary-container-button-pressed;
    box-shadow: none;
  }

  button:disabled {
    background-color: $surface-container;
    color: $on-surface-variant-disabled;
  }

  button:disabled:hover {
    box-shadow: none;
  }
}

@media screen and (max-width: 700px) {
  .work-area {
    padding: 30px 15%;
  }

  .progress {
    margin-top: 40px;
  }
}

@media screen and (max-width: 450px) {
  .buttons-container {
    flex-direction: column;
    align-items: center;

    button:first-of-type {
      margin-bottom: 10px;
    }
  }
}